@model List<CLOTHING_PRODUCTS.Models.EmployeePosition>

@{
    ViewData["Title"] = "Employee's Position Page";
}

<h2>@ViewData["Title"]</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (ViewContext.HttpContext.Session.GetString("UserRole") != "Директор")
{
    <a asp-controller="EmployeePosition" asp-action="Create" class="btn btn-primary">Create Employee Position</a>
}

<table class="table">
    <thead>
        <tr>
           
            <th>Title</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var position in Model)
        {
            <tr>
                
                <td>@position.Title</td>
                <td>@position.Role.RoleName</td>
                @*<td>
                    <a asp-controller="EmployeePosition" asp-action="Edit" asp-route-id="@position.EmployeePositionId">Edit</a> |
                   <form asp-action="Delete" asp-route-id="@position.EmployeePositionId" method="post" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                        <button type="submit" class="btn-link">Delete</button>
                    </form>
                </td>*@
                @if (ViewContext.HttpContext.Session.GetString("UserRole") != "Директор")
                {
                    <td>
                        <div style="display: inline-block;">
                        <a asp-controller="EmployeePosition" asp-action="Edit" asp-route-id="@position.EmployeePositionId" class="btn btn-warning">Edit</a> |
                    </div>
                    <div style="display: inline-block;">
                        <form asp-action="Delete" asp-route-id="@position.EmployeePositionId" method="post" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
