@model List<CLOTHING_PRODUCTS.Models.Ingredient>

<table class="table">
    <thead>
        <tr>
            <th>Raw Material</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model)
        {
            <tr>
                <td>
                    @ingredient.RawMaterial.Name
                </td>
                <td>
                    <span id="quantity_@ingredient.IngredientId">@ingredient.Quantity</span>
                    <input type="text" id="editQuantity_@ingredient.IngredientId" style="display:none;" value="@ingredient.Quantity" />
                </td>
                <td>
                    <a href="@Url.Action("EditIngredient", new { id = ingredient.IngredientId })">Edit Ingredient</a> |
                    <a href="#" onclick="deleteIngredient('@ingredient.IngredientId')">Delete Ingredient</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteIngredient(ingredientId) {
        if (confirm("Are you sure you want to delete this ingredient?")) {
            $.ajax({
                type: "POST",
                url: "/Ingredient/DeleteIngredient",
                data: { ingredientId: ingredientId },
                success: function (response) {
                    console.log("Ingredient deleted successfully.");
                    // После успешного удаления, можно перезагрузить страницу
                    refreshPage();
                },
                error: function (error) {
                    console.error("Error deleting ingredient:", error);
                    alert("An error occurred while deleting ingredient."); // Обработка ошибки AJAX-запроса
                }
            });
        }
    }

    function refreshPage() {
        location.reload();
    }
</script>
