@model List<CLOTHING_PRODUCTS.Models.PurchaseRawMaterial>

@{
    ViewData["Title"] = "PurchaseRawMaterial Page";
}

<h2>@ViewData["Title"]</h2>
 @if (ViewContext.HttpContext.Session.GetString("UserRole") != "Директор")
                {
<a asp-action="Create" class="btn btn-primary">Make a purchase</a>
                }
<table class="table">
    <thead>
        <tr>

            <th>RawMaterial</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Employee</th>
           @* <th>Actions</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var rawMaterial in Model)
        {
            <tr>

                <td>@rawMaterial.RawMaterial.Name</td>
                <td>@rawMaterial.Quantity</td>
                <td>@rawMaterial.Amount</td>
                <td>@rawMaterial.Date</td>
                <td>@rawMaterial.Employee.FullName</td>
                @*<td>
                    <a asp-controller="PurchaseRawMaterial" asp-action="Edit" asp-route-id="@rawMaterial.ID">Edit</a> |
                    <form asp-action="Delete" asp-route-id="@rawMaterial.ID" method="post" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                        <button type="submit" class="btn-link">Delete</button>
                    </form>
                </td>*@
            </tr>
        }
    </tbody>
</table>