@model CLOTHING_PRODUCTS.Models.Budget

@{
    ViewData["Title"] = "Edit Budget";
}

<h2>@ViewData["Title"]</h2>

<div>
    @if (ViewBag.SelectedYear != null && ViewBag.SelectedMonth != null)
    {
            <p>Selected Year: @ViewBag.SelectedYear</p>
            <p>Selected Month: @ViewBag.SelectedMonth</p>
    }
</div>

<form asp-action="Edit" asp-route-id="@Model.BudgetId" method="post">
    <input type="hidden" name="selectedYear" value="@ViewBag.SelectedYear" />
    <input type="hidden" name="selectedMonth" value="@ViewBag.SelectedMonth" />
    <div class="form-group">
        <label asp-for="BudgetAmount" class="control-label"></label>
        <input asp-for="BudgetAmount" class="form-control" />
        <span asp-validation-for="BudgetAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Percent" class="control-label"></label>
        <input asp-for="Percent" class="form-control" />
        <span asp-validation-for="Percent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bonus" class="control-label"></label>
        <input asp-for="Bonus" class="form-control" />
        <span asp-validation-for="Bonus" class="text-danger"></span>
    </div>
  
    <div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
    
</form>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>