@model List<CLOTHING_PRODUCTS.Models.Budget>

@{
    ViewData["Title"] = "Budget Page";
}

<h2>@ViewData["Title"]</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div>
    @if (ViewBag.SelectedYear != null && ViewBag.SelectedMonth != null)
    {
        <p>Selected Year: @ViewBag.SelectedYear</p>
        <p>Selected Month: @ViewBag.SelectedMonth</p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>Budget</th>
            <th>Percent</th>
            <th>Bonus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var budget in Model)
        {
            <tr>

                <td>@budget.BudgetAmount.ToString("0.00")</td>
                <td>@budget.Percent</td>
                <td>@budget.Bonus</td>
                @if (ViewContext.HttpContext.Session.GetString("UserRole") != "Директор")
                {
                    <td>
                        <a asp-controller="Budget" asp-action="Edit" asp-route-id="@budget.BudgetId"
                       asp-route-year="@ViewBag.SelectedYear" asp-route-month="@ViewBag.SelectedMonth">Edit</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
